*, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;   
    background-color: #111315;
    color: #f8f9fa;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.editorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50rem;
    border: 2px solid lightgray;
    outline: none;
}

.toolBar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
}

select {
    height: 2rem;
    width: 10rem;
    margin: auto 0.5rem;
    outline: none;
    appearance: none;
}

#headline28 {
    font-size: 28px;
    font-weight: 800;
}

#headline26 {
    font-size: 26px;
    font-weight: 700;
}

#headline24 {
    font-size: 24px;
    font-weight: 600;
}

#paragraph {
    font-size: 18px;
    font-weight: 400;
}

.editorContent {
    height: 30rem;
    width: 100%;
    padding: 1rem;
    border: 2px solid lightgray;
}

input {
    width: 2rem;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: #f8f9fa;
}

input:hover {
    background-color: #cfcfcf;
    
}