@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #4a4e69;
}

h1 {
    font-size: 2.5em;
    margin: 0.5em auto;
}

.projectContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    width: 75%;
    padding: 2em;
}

.projectTile {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-flow: column nowrap;
    width: 20em;
    height: 15em;
    margin: 1em;
    border: #4a4e69 2px solid;
    transition: all ease 400ms;
    cursor: pointer;
}

.projectTile:hover {
    transform: scale(1.05);
    box-shadow: #4a4e69 1px 1px 7px;
}

img {
    width: 100%;
    margin-bottom: 1em;
}

.link {
    text-align: center;
    font-size: 18px;
    margin-bottom: 1em;
    font-weight: 600;
    text-decoration: none;
    color: #4a4e69;
    transition: all ease 400ms;
    cursor: pointer;
}