* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    background-color: #e07a5f;
}

.counterContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row column;
}

.counter {
    width: 15em;
    padding: 2em;
    text-align: center;
}

span {
    font-size: 3em;
    font-weight: 800;
}