* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    background-color: #ffffff;
    color: #14213d;
}

#headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    height: 33vh;
}

#contentContainer {
    height: 66vh;
}

button {
    margin: 2em auto 1em auto;
    padding: 1em;
    font-size: 16px;
    background-color: #ffffff;
    color: #fca311;
    border: solid 2px #fca311;
    border-radius: 5px;
    cursor: pointer;
    transition: 200ms linear;
}

button:hover {
    background-color: #fca311;
    color: #ffffff;
}

#contentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

#mapContainer {
    padding: 2em;
}

span {
    font-weight: 600;
}

p {
    margin: 0.5em auto;
}