* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #961D21;
    color: #E0A551;
    font-size: 16px;
    line-height: 1.2;
}

p {
    width: 40%;
    overflow: hidden;
    text-align: center;
    font-size: 6vh;
}