* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #90be6d;
}

button {
    position: absolute;
    margin: 1em;
    padding: 1em;
    font-size: 18px;
    color: #ffffff;
    background-color: #577590;
    border:  solid 2px #90be6d;
    cursor: pointer;
}

h1 {
    display: none;
}

@media (max-width: 768px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    button {
        display: none;
    }

    h1 {
        display: block;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        color: #ffffff;
    }
}