* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e5e5e5;
    color: #14213d;
    transition: 400ms;
}

.switch input {
    width: 0;
    height: 0;
    opacity: 0;
}

.slider {
    position: absolute;
    height: 34px;
    width: 60px;
    top: 50%;
    left: 50%;
    /* right: 0; */
    /* bottom: 0; */
    background-color: #14213d;
    transition: .4s;
    -webkit-transition: .4s;
    cursor: pointer;
}

.slider:before {
    position: absolute;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    content: "";
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #e5e5e5;
}

input:focus + .slider {
    box-shadow: 0 0 1px #e5e5e5;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}