* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #197278;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

main {
    width: 50rem;
    height: 18rem;
    border-radius: 8px;
    background-color: #ffffff;
    cursor: pointer;
}

section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    padding: 4rem;
    transition: all ease-in 400ms;
    z-index: 1;
}

figure {
    width: 13rem;
    margin-right: 2rem;
    text-align: center;
}

img {
    width: 10rem;
    margin-bottom: 2rem;
}

p {
    width: 25rem;
    font-size: 1rem;
    font-style: italic;
}

main::after {
    -webkit-transition: all 400ms;
    transition: all 400ms;
}

main:hover section {
    filter: blur(3px);
}
main:hover::after {
    display: block;
    content: '3 of 5 Stars';
    width: 50%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
    background-color: #197278;
    border-radius: 8px;
    transform: translateY(-12rem);
    -webkit-transition: all 400ms;
    transition: all 400ms;
    z-index: 5;
}