* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 5%;
    width: 100%;
}

#runCodeButton {
    height: 100%;
    width: 100%;
    padding: 0.2em;
    color: #f5f3f4;
    background-color: #2F7560;
    border: solid 2px #2F7560;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    transition: 300ms;
}

#runCodeButton:hover {
    background-color: #43aa8b;
    border: solid 2px #43aa8b;
}

#contentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: row nowrap;
    height: 100%;
    width: 100%;
}

#editorContainer {
    height: 100%;
    width: 50%;
    padding: 1em;
    background-color: #161a1d;
    color: #f5f3f4;
    font-family: inherit;
    font-size: 14px;
}

#displayContainer {
    height: 100%;
    width: 50%;
    padding: 1em;
    background-color: #f5f3f4;
    color: #161a1d;
    
}