* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightcoral;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    display: inline-block;
    width: 3rem;
    padding: 5px;
    background-color: #ffffff;
    cursor: pointer;
}

input {
    display: none;
    height: 3rem;
    padding: 5px;
    font-size: 1.5rem;
    font-weight: 300;
    border: solid 2px #ffffff;
    outline: none;
}

@keyframes slideIn {
    from {width: 0;}
    to {width: 10rem;}
}

@keyframes slideOut {
    from {width: 10rem;}
    to {width: 0;}
}