* {
    margin: 0;
    padding: 0;
}

.card {
    position: relative;
    margin: 5rem auto;
    width: 20rem;
    height: 30rem;
    perspective: 150rem;
} 

.card-side {
    position: absolute;
    width: 80%;
    height: 30rem;
    top: 0;
    left: 0;
    border-radius: 16px;
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding: 2rem;
    backface-visibility: hidden;
    color: white;
    transition: ease-in 300ms all;
}

.card-side.back {
    transform: rotateY(-180deg);
    background-color: #80ffdb;
    background-image: linear-gradient(37deg, #80ffdb, #7400b8);
}

.card:hover .card-side.back {
    transform: rotateY(0deg);
}

.card-side.front {
    transform: rotateY(0deg);
    background-image: linear-gradient(160deg, #c0fdff, #ffcbf2);
    background-color: #c0fdff;
}

.card:hover .card-side.front {
    transform: rotateY(180deg);
}